html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #EEE;
    font-family: monospace;
    font-size: 30px;
}

.tile {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	user-select: none;
	margin: 0.1em;
	border-radius: 5px;
}

.tile-dragging {
	background: white;
	color: white;
}

.tile-dragging > * {
	opacity: 0;
}

.tile-drop-accept {
	border: 3px solid #FFF;
}

.tile-empty-bubble {
	height: 1em;
	width: 1em;
	background: rgba(255, 0, 0, 0.2);
}

.tile-fraction {
	display: flex;
	flex-direction: column;
}

.tile-fraction > * {
	padding: 0px;
	justify-content: center;
}

.tile-fraction-bar {
	width: 100%;
	height: 0.05em;
	background: #000;
}

.tile-sup, .tile-sub {
	flex-direction: row;
	align-items: normal;
}

.tile-sup > * {
	margin: 0;
}

.tile-sup > * {
	margin: 0.1em;
}

